<!-- templates/chatroom/public_chat_rooms.html -->
{% extends 'chatroom/base_generic.html' %}

{% block content %}
<h1>Public Chat Rooms</h1>
<ul>
    {% for group in groups %}
        <li>
            {{ group.name }} ({{ group.members.count }}/{{ group.capacity }})
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'join_group' group.id %}">
                    {% csrf_token %}
                    <button type="submit">Join</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
